@{
	ViewBag.Title = "Home Page";
}

<h1></h1>

<div style="height:15px"></div>

<div id="main" style="width:800px; height:400px; padding:20px; border:1px solid #a0a0a0; padding:25px; background-color:white; position:relative; overflow:hidden;">


	<div id="scroll-view" style="width:220px; 
						  height:200px; 
						  position:absolute; 
						  left:400px; 
						  top:20px;
                          border: 1px solid #808080; 
						  overflow-x:hidden; 
						  overflow-y:hidden; 
						  border-radius:3px;
						  z-index:999" tabindex="3">

		Contents goes here

		<div style="white-space:nowrap;">really long line really long line really long line really long line really long line </div>


		For who thoroughly her boy estimating conviction.

		Removed demands expense account in outward tedious do. Particular way thoroughly unaffected projection favourable mrs can projecting own.

		Thirty it matter enable become admire in giving. See resolved goodness felicity shy civility domestic had but. Drawings offended yet answered jennings perceive laughing six did far.

		Rendered her for put improved concerns his. Ladies bed wisdom theirs mrs men months set. Everything so dispatched as it increasing pianoforte. Hearing now saw perhaps minutes herself his. Of instantly excellent therefore difficult he northward. Joy green but least marry rapid quiet but. Way devonshire introduced expression saw travelling affronting. Her and effects affixed pretend account ten natural. Need eat week even yet that. Incommode delighted he resolving sportsmen do in listening.

		@*Agreed joy vanity regret met may ladies oppose who. Mile fail as left as hard eyes. Meet made call in mean four year it to. Prospect so branched wondered sensible of up. For gay consisted resolving pronounce sportsman saw discovery not. Northward or household as conveying we earnestly believing. No in up contrasted discretion inhabiting excellence. Entreaties we collecting unpleasant at everything conviction.

			Or neglected agreeable of discovery concluded oh it sportsman. Week to time in john. Son elegance use weddings separate. Ask too matter formed county wicket oppose talent. He immediate sometimes or to dependent in. Everything few frequently discretion surrounded did simplicity decisively. Less he year do with no sure loud.

			For who thoroughly her boy estimating conviction. Removed demands expense account in outward tedious do. Particular way thoroughly unaffected projection favourable mrs can projecting own. Thirty it matter enable become admire in giving. See resolved goodness felicity shy civility domestic had but. Drawings offended yet answered jennings perceive laughing six did far.*@

		@*Rendered her for put improved concerns his. Ladies bed wisdom theirs mrs men months set. Everything so dispatched as it increasing pianoforte. Hearing now saw perhaps minutes herself his. Of instantly excellent therefore difficult he northward. Joy green but least marry rapid quiet but. Way devonshire introduced expression saw travelling affronting. Her and effects affixed pretend account ten natural. Need eat week even yet that. Incommode delighted he resolving sportsmen do in listening.

			Agreed joy vanity regret met may ladies oppose who. Mile fail as left as hard eyes. Meet made call in mean four year it to. Prospect so branched wondered sensible of up. For gay consisted resolving pronounce sportsman saw discovery not. Northward or household as conveying we earnestly believing. No in up contrasted discretion inhabiting excellence. Entreaties we collecting unpleasant at everything conviction.

			Or neglected agreeable of discovery concluded oh it sportsman. Week to time in john. Son elegance use weddings separate. Ask too matter formed county wicket oppose talent. He immediate sometimes or to dependent in. Everything few frequently discretion surrounded did simplicity decisively. Less he year do with no sure loud.

			For who thoroughly her boy estimating conviction. Removed demands expense account in outward tedious do. Particular way thoroughly unaffected projection favourable mrs can projecting own. Thirty it matter enable become admire in giving. See resolved goodness felicity shy civility domestic had but. Drawings offended yet answered jennings perceive laughing six did far.

			Rendered her for put improved concerns his. Ladies bed wisdom theirs mrs men months set. Everything so dispatched as it increasing pianoforte. Hearing now saw perhaps minutes herself his. Of instantly excellent therefore difficult he northward. Joy green but least marry rapid quiet but. Way devonshire introduced expression saw travelling affronting. Her and effects affixed pretend account ten natural. Need eat week even yet that. Incommode delighted he resolving sportsmen do in listening.

			Agreed joy vanity regret met may ladies oppose who. Mile fail as left as hard eyes. Meet made call in mean four year it to. Prospect so branched wondered sensible of up. For gay consisted resolving pronounce sportsman saw discovery not. Northward or household as conveying we earnestly believing. No in up contrasted discretion inhabiting excellence. Entreaties we collecting unpleasant at everything conviction.

			Or neglected agreeable of discovery concluded oh it sportsman. Week to time in john. Son elegance use weddings separate. Ask too matter formed county wicket oppose talent. He immediate sometimes or to dependent in. Everything few frequently discretion surrounded did simplicity decisively. Less he year do with no sure loud.

			For who thoroughly her boy estimating conviction. Removed demands expense account in outward tedious do. Particular way thoroughly unaffected projection favourable mrs can projecting own. Thirty it matter enable become admire in giving. See resolved goodness felicity shy civility domestic had but. Drawings offended yet answered jennings perceive laughing six did far.

			Rendered her for put improved concerns his. Ladies bed wisdom theirs mrs men months set. Everything so dispatched as it increasing pianoforte. Hearing now saw perhaps minutes herself his. Of instantly excellent therefore difficult he northward. Joy green but least marry rapid quiet but. Way devonshire introduced expression saw travelling affronting. Her and effects affixed pretend account ten natural. Need eat week even yet that. Incommode delighted he resolving sportsmen do in listening.

			Agreed joy vanity regret met may ladies oppose who. Mile fail as left as hard eyes. Meet made call in mean four year it to. Prospect so branched wondered sensible of up. For gay consisted resolving pronounce sportsman saw discovery not. Northward or household as conveying we earnestly believing. No in up contrasted discretion inhabiting excellence. Entreaties we collecting unpleasant at everything conviction.

			Or neglected agreeable of discovery concluded oh it sportsman. Week to time in john. Son elegance use weddings separate. Ask too matter formed county wicket oppose talent. He immediate sometimes or to dependent in. Everything few frequently discretion surrounded did simplicity decisively. Less he year do with no sure loud.

			For who thoroughly her boy estimating conviction. Removed demands expense account in outward tedious do. Particular way thoroughly unaffected projection favourable mrs can projecting own. Thirty it matter enable become admire in giving. See resolved goodness felicity shy civility domestic had but. Drawings offended yet answered jennings perceive laughing six did far.

			Rendered her for put improved concerns his. Ladies bed wisdom theirs mrs men months set. Everything so dispatched as it increasing pianoforte. Hearing now saw perhaps minutes herself his. Of instantly excellent therefore difficult he northward. Joy green but least marry rapid quiet but. Way devonshire introduced expression saw travelling affronting. Her and effects affixed pretend account ten natural. Need eat week even yet that. Incommode delighted he resolving sportsmen do in listening.

			Agreed joy vanity regret met may ladies oppose who. Mile fail as left as hard eyes. Meet made call in mean four year it to. Prospect so branched wondered sensible of up. For gay consisted resolving pronounce sportsman saw discovery not. Northward or household as conveying we earnestly believing. No in up contrasted discretion inhabiting excellence. Entreaties we collecting unpleasant at everything conviction.

			Or neglected agreeable of discovery concluded oh it sportsman. Week to time in john. Son elegance use weddings separate. Ask too matter formed county wicket oppose talent. He immediate sometimes or to dependent in. Everything few frequently discretion surrounded did simplicity decisively. Less he year do with no sure loud.

			For who thoroughly her boy estimating conviction. Removed demands expense account in outward tedious do. Particular way thoroughly unaffected projection favourable mrs can projecting own. Thirty it matter enable become admire in giving. See resolved goodness felicity shy civility domestic had but. Drawings offended yet answered jennings perceive laughing six did far.

			Rendered her for put improved concerns his. Ladies bed wisdom theirs mrs men months set. Everything so dispatched as it increasing pianoforte. Hearing now saw perhaps minutes herself his. Of instantly excellent therefore difficult he northward. Joy green but least marry rapid quiet but. Way devonshire introduced expression saw travelling affronting. Her and effects affixed pretend account ten natural. Need eat week even yet that. Incommode delighted he resolving sportsmen do in listening.

			Agreed joy vanity regret met may ladies oppose who. Mile fail as left as hard eyes. Meet made call in mean four year it to. Prospect so branched wondered sensible of up. For gay consisted resolving pronounce sportsman saw discovery not. Northward or household as conveying we earnestly believing. No in up contrasted discretion inhabiting excellence. Entreaties we collecting unpleasant at everything conviction.

			Or neglected agreeable of discovery concluded oh it sportsman. Week to time in john. Son elegance use weddings separate. Ask too matter formed county wicket oppose talent. He immediate sometimes or to dependent in. Everything few frequently discretion surrounded did simplicity decisively. Less he year do with no sure loud.*@

	</div>

	<div style="width:120px;">Select:</div>
	<span id="input123"></span>

	<div style="height:15px"></div>


	<div style="width:120px;">Theme:</div>
	<span id="themeselect">
		<ux-inputbox params="
		 width:            150,
		 placeHolder:      'Select a theme',
		 selectedItem:     themeSelected,
		 onRequestItems:   themeProvider,
		 instance:         instance
		">
		</ux-inputbox>
	</span>


	<div style="height:15px"></div>
	<div style="width:120px;">Simple Comobox:</div>
	<span id="comobox">
		<ux-inputbox params="
		 width:            150,
		 placeHolder:      'Select a monitor',
		 selectedItem:     selectedMonitor,
		 isComboBox:       true,
		 items:            [
					         {text:'Active Graph', helpText: 'Active graph monitor', data: 'SimpleGraphMonitor'},
					         {text:'Caché Host Overview', helpText: 'Caché host overview monitor', data: 'CacheHostOverviewMonitor'},
					         {text:'Resource Group Heat Map', helpText: 'Resource Group Heat Map', data: 'ResourceGroupHeatMap'},
					         {text:'Cache Performance', helpText: 'Cache Performance', data: 'CachePerformanceMonitor'},
					         {text:'ECP Overview', helpText: 'ECP Overview', data: 'ECPOverviewMonitor'}
					       ],
		  instance:        instance
		">
		</ux-inputbox>
	</span>

	<div style="height:15px"></div>
	<div id="button1"></div>
	<div style="padding:25px"></div>
	<div id="check1"></div>
	@*<span id="comobox">
			<ux-inputbox params="
			 width:            150,
			 placeHolder:      'Select a monitor',
			 selectedItem:     'item2',
			 isComboBox:       true,
			 items:            ['item1','item2','item3' ],
			">
			</ux-inputbox>
		</span>*@

	<div style="padding-left:200px; padding-top:100px;">
		<span id="menu"></span>
	</div>

</div>

<div style="height:25px"></div>

<a id="gold" style="padding:20px; cursor:pointer;">Gold Theme</a>

<a id="dark" style="padding:20px; cursor:pointer;">Dark Theme</a>

<a id="light" style="padding:20px; cursor:pointer;">Light Theme</a>

<a id="amber" style="padding:20px; cursor:pointer;">Amber Theme</a>

<div style="height:25px"></div>

<a id="toggle" style="padding:20px; cursor:pointer;">enable/disable</a> <a id="showmenu" style="padding:20px; cursor:pointer;">menu</a>

<div style="height:25px"></div>

<a id="makecall" style="padding:20px; cursor:pointer;">Call DB</a>

<div class="primary"></div><div class="primary-600"></div><div class="primary-700"></div>

@Scripts.Render("~/bundles/main")



<p></p>

@*<script>
		$("#scroll-view").slimScroll({
			color: '#00f',
			size: '10px',
			height: '180px',
			alwaysVisible: true
		});
	</script>*@